# STELLA serial device names.
#
# Current USB layout:
# - Front upper RPLIDAR: CP2102N serial 4a237fb90464ef11947fe2a9c169b110
# - Rear upper docking RPLIDAR: CP2102N serial ccaf2ee0ed63ef11b4dddaa9c169b110
# - SK120 USB-TTL: PL2303 on hub port 4-1.2
# - AHRS: FT230X
# - Motor driver: FT232R

KERNEL=="ttyUSB*", ENV{ID_SERIAL_SHORT}=="4a237fb90464ef11947fe2a9c169b110", MODE:="0777", SYMLINK+="RPLIDAR"
KERNEL=="ttyUSB*", ENV{ID_SERIAL_SHORT}=="ccaf2ee0ed63ef11b4dddaa9c169b110", MODE:="0777", SYMLINK+="RPLIDAR2"

KERNEL=="ttyUSB*", KERNELS=="4-1.2", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", MODE:="0777", SYMLINK+="SK120"
KERNEL=="ttyUSB*", KERNELS=="3-1.2", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", MODE:="0777", SYMLINK+="SK120"

KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", MODE:="0777", SYMLINK+="AHRS"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="MW"

# set the udev rule, make the Bluetooth's device_port be fixed by BT

KERNEL=="ttyS*", MODE:="0777", SYMLINK+="BT"

# set the udev rule, make the realsense's device_port

SUBSYSTEMS=="usb", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b07", MODE:="0777"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", MODE:="0777"
KERNEL=="iio*", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", MODE:="0777", RUN+="/bin/sh -c 'chmod -R 0777 /sys/%p'"
DRIVER=="hid_sensor*", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", RUN+="/bin/sh -c ' chmod -R 0777 /sys/%p && chmod 0777 /dev/%k'"
# For products with motion_module, if (kernels is 4.15 and up) and (device name is "accel_3d") wait, in another process, until (enable flag is set to 1 or 200 mSec passed) and then set it to 0.
# KERNEL=="iio*", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", RUN+="/bin/sh -c '(major=`uname -r | cut -d \".\" -f1` && minor=`uname -r | cut -d \".\" -f2` && (([ $$major -eq 4 ] && [ $$minor -ge 15 ]) || [ $$major -ge 5 ])) && (enamefile=/sys/%p/name && [ `cat $$enamefile` = \"accel_3d\" ]) && enfile=/sys/%p/buffer/enable && echo \"COUNTER=0; while [ \$$COUNTER -lt 20 ] && grep -q 0 $$enfile; do sleep 0.01; COUNTER=\$$((COUNTER+1)); done && echo 0 > $$enfile\" | at now'"
